<mat-toolbar color="primary">
  <span class="spantitle" [routerLink]="['/']">INTERNSHIP</span>
  <span class="example-spacer"></span>

  <button *ngIf="!(accountService.currentUser$ | async) ; else showEmail" mat-raised-button [routerLink]="['/login']">
    Login
  </button>

  <ng-template #showEmail>
    <button mat-button [matMenuTriggerFor]="menu">Hi {{userEmail}}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logoutUser()">Logout</button>
    </mat-menu>
  </ng-template>
</mat-toolbar>
